.UserContainer {
        margin-top: 8sem;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 100%;
        min-height: 10%;
        padding: 2.5em;
        overflow: hidden;
        border: none;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1) ;
        box-shadow: 0 1px 5px 1px rgba(0,0,0,0.3) ;
        /* text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ; */
}

.first{
        margin-top: 1.5em;
        margin-bottom: 0.5em;
}

.upload-img{
        box-shadow: 0 1px 5px 1px rgba(0,0,0,0.3) ;
}

.uploaded{
        
        box-shadow: 0 1px 5px 1px rgba(0,0,0,0.3) ;
}
