.postsContainer {
        margin-top: 0em;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 100%;
        min-height: 100%;
        padding: 20px;
        overflow: hidden;
        border: none;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1) ;
        box-shadow: 0 1px 5px 1px rgba(0,0,0,0.3) ;
        /* text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ; */
}